@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?etkq11');
    src:    url('../fonts/icomoon.eot?etkq11#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?etkq11') format('truetype'),
        url('../fonts/icomoon.woff?etkq11') format('woff'),
        url('../fonts/icomoon.svg?etkq11#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    padding: 0.15rem;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-info-circle:before {
    content: "\f05a";
}
.icon-twitter:before {
    content: "\f099";
}
.icon-google-plus:before {
    content: "\f0d5";
}
.icon-medium:before {
    content: "\f23a";
}
.icon-get-pocket:before {
    content: "\f265";
}
.icon-reddit-alien:before {
    content: "\f281";
}
.icon-gitlab:before {
    content: "\f296";
}
.icon-flame:before {
    content: "\f0d2";
}
.icon-mark-github:before {
    content: "\f00a";
}