/********************************* GENERAL RULES ******************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
main,
section,
nav,
footer,
cite {
  display: block;
}

html {
  font: 500 1.5em/normal "Tillana", Cursive;
  color: rgb(255, 255, 255);
  background: url("../img/corpse.jpg") fixed no-repeat right/cover, rgb(200, 200, 230);
}

body {
  width: 62vw;
  min-height: 100vh;
  margin-left: 1.7rem;
  padding-top: 2rem;
  background: rgba(13, 13, 38, 0.6);
  box-shadow: -3px 0 3px 2px rgba(32, 32, 19, 0.8), 3px 0 3px 2px rgba(32, 32, 19, 0.8);
}

main {
  padding: 2rem 2rem 5rem;
}

section {
  padding: 0.8rem 0;
}

footer {
  font-size: 0.8rem;
  width: inherit;
  position: fixed;
  bottom: 0;
}

a {
  outline: none;
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

header,
a:visited {
  color: rgb(229, 226, 204);
}

.nowrap {
  white-space: nowrap;
}

.center {
  text-align: center;
}

.gradient {
  background: linear-gradient(0deg, rgb(13, 13, 20), rgba(13, 13, 29, 0.92) 50%, rgb(13, 13, 38));
}
/******************************************************************************/


/******************************** HEADINGS ************************************/
.heading {
  margin-bottom: 0.5rem;
  font-weight: 700;
  color: rgb(13, 13, 20);
  text-shadow: 2px 2px 6px rgb(229, 226, 255);
}

h1 {
  font-size: 2rem;
}

h2,
h3 {
  font-size: 1.5rem;
}
/******************************************************************************/


/******************************* PAGE HEADER **********************************/
header {
  width: 50%;
  position: relative;
  left: 50%;
  font-size: 0.6rem;
  font-style: italic;
  margin-left: -2rem;
}

cite {
	margin-top: 0.6rem;
}
/******************************************************************************/


/********************************** NAVIGATION ********************************/
nav > ul {
  list-style: none;
}

.footer-nav li,
.about-nav li {
  display: inline-block;
}

.footer-nav a,
.about-nav a {
  transition: transform 0.5s ease-in-out;
  padding: 0.7rem 0.5rem;
  font-size: 0.8rem;
}

.footer-nav li a:hover,
.about-nav a:hover {
  transform: scale(2, 2);
}
/********************************** KNOW MORE *********************************/
.more-nav {
  margin-top: 1rem;
}

.more-nav a:hover {
  border-left: 0.25rem solid;
  padding-left: 0.2rem;
}
/************************************ FOOTER **********************************/
.footer-nav ul {
  position: absolute;
  bottom: 0;
  right: 1.5rem;
}

.footer-nav > a {
  margin-left: 1.5rem;
}
/******************************************************************************/


/*********************************** MODAL ************************************/
#overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: auto;
  background: inherit;
}

#overlay:target {
  display: block;
}

.modal {
  font-size: 0.6rem;
  line-height: 1.2rem;
  text-align: justify;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 2px 3px rgb(229, 226, 255);
}

.modal h1 {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.modal p a {
  border-bottom: 1px dotted;
  display: inline;
}
/****************************** MODAL CLOSE BUTTON ****************************/
.close {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0.3;
}

.close:before,
.close:after {
  content: "";
  position: absolute;
  top: 13px;
  left: 5px;
  width: 20px;
  height: 4px;
  background: rgb(255, 255, 255);
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.close:hover {
  opacity: 1;
}
/******************************************************************************/


/************************** MEDIA DEPENDENT RULES *****************************/
@media (max-width: 960px) {
  html {
    font-size: 1.3em;
  }
  body {
    width: 90vw;
    margin: 0 auto;
  }
  header {
    position: static;
    width: auto;
    margin: 0 2rem;
  }
  .modal {
    left: 2rem;
    right: 2rem;
    transform: translateY(-50%);
  }
}

@media (max-width: 620px) {
  html {
    font-size: 1em;
  }
  body {
    width: 100vw;
  }
}
/******************************************************************************/
